/* custom stylesheet to change or augment styles from Bootstrap CSS */
#navbar{
    padding: 10px;
    background-color: #dadada;
    text-align: center;
}
.newsfeed{
    width: 50%;
    margin: auto;
}
.story-img{
    max-height: 300px;
    padding: 5px;
}
.read-more-img{
    max-height: 500px;
    padding: 15px;
}
.panel-footer{
    background-color: #dadada;
}